name: ROCm CI

on:
  workflow_dispatch:
  push:
    branches:
      - rocm-main
      - 'rocm-jaxlib-v*'
  pull_request:
    branches:
      - rocm-main
      - 'rocm-jaxlib-v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  test-and-analyze-xla-1:
    runs-on: mi-250
    container:
      image: rocm/tensorflow-build:latest-jammy-python3.11-rocm6.3.0
      volumes:
        - /tmp/bazel_cache:/tf/disk_cache
      options:
        --device=/dev/kfd
        --device=/dev/dri
        --ipc=host
        --shm-size=16G
        --group-add=video
        --cap-add=SYS_PTRACE
        --security-opt=seccomp=unconfined
    steps:
      - uses: actions/checkout@v4
      - name: Test XLA
        run: build_tools/rocm/run_xla.sh
