name: OpenXLA Internal CI

on:
  push:
    branches:
      - 'rocm-jaxlib-v0.7.1'
      - 'leo/**'
  pull_request:
    branches:
      - 'rocm-jaxlib-v0.7.1'
      - 'leo/**'
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: linux-mi325-2
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Run build and test shell script
        run: ./scripts/my-example-script.sh